*~
annotationTools/perl/globalvariables.pl
annotationTools/php/globalvariables.php
annotationTools/scribble/segment.cgi
*.o
*.a
annotationTools/scribble/image.jpg
annotationTools/scribble/mask.png
annotationTools/scribble/scribble.png
Annotations/*
Masks/*
Scribbles/*
Images/*
annotationTools/scribble/segmentCPP/images/*
annotationCache/*
